@font-face {
  font-family: "OhnoSoftieDemo-Bold";
  src: url("public/fonts/OhnoSoftieDemo-Bold.otf");
  font-family: "OhnoSoftieDemo-Black";
  src: url("public/fonts/OhnoSoftieDemo-Black.otf");
  font-family: "PPFragment-GlareExtraBold";
  src: url("public/fonts/PPFragment-GlareExtraBold.otf");
  font-family: "PPFragment-SansRegular";
  src: url("public/fonts/PPFragment-SansRegular.otf");
}

#hero-header {
  font-family: "OhnoSoftieDemo-Black";

}

.hero-subheader {
  font-family: "OhnoSoftieDemo-Bold";
}

.hero-text {
  font-family: "PPFragment-SansRegular";
}